{% extends 'base.html' %}
{%load static%}
{%block title%}GroomRoom{%endblock%}
{% block style%}<link rel="stylesheet" href="{% static 'css/Barber/landing-page.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<div class="container">
    <i class="fa fa-bars menu-icon" style="font-size:36px" id="menu-icon"></i>
    <img src="{%static 'icons/app/queue2.png'%}" class="queue-icon">
    <div class="sidebar" id="sidebar">
    </div>
    <div class="add-seat-btn-container">
        <button class="add-seat"><i style="border: none; color: white; font-size: 44px; font-style: normal;"> 	&#43;</i></button>
    </div>
    <!-- <div class="seat-container">
        <span><b>Estimated time : 3min</b></span>
        <div class="seat" id="seat">
            <div class="delete-seat-btn">
                &#215;
            </div>
        </div>
        <span>
            partner 1
        </span>
       
    </div>
    <div class="seat-container">
        <span><b>Estimated time : 3min</b></span>
        <div class="seat" id="seat">
            <div class="delete-seat-btn">
                &#215;
            </div>
        </div>
        <span>
            partner 1
        </span>
      
    </div> -->
   
    
   
</div>
{% endblock %}
